<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='CG-3 IDE' Id='*' UpgradeCode='7097985D-39E9-4100-BBCF-37BFD05D2141' Language='1033' Codepage='1252' Version='0.0.9' Manufacturer='Tino Didriksen Consult'>

    <Package Id='*' Keywords='Installer' Description='CG-3 IDE Installation' Comments='CG-3 IDE is an Integrated Development Environment for Constraint Grammar. Developed by Tino Didriksen (consult@tinodidriksen.com) for GrammarSoft ApS.' Manufacturer='Tino Didriksen Consult' InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' InstallScope='perMachine' />

    <Upgrade Id='7097985D-39E9-4100-BBCF-37BFD05D2141'>
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
        Minimum='0.0.1' IncludeMinimum='yes'
        Maximum='0.0.9' IncludeMaximum='no' />
    </Upgrade>

    <CustomAction Id='AlreadyUpdated' Error='[ProductName] is already the latest version.' />
    <CustomAction Id='NoDowngrade' Error='A more recent version of [ProductName] is already installed.' />

    <InstallExecuteSequence>
      <RemoveExistingProducts After='InstallInitialize' />
    </InstallExecuteSequence>

    <Media Id='1' Cabinet='CG3IDE.cab' EmbedCab='yes' DiskPrompt='Disk #1' />
    <Property Id='DiskPrompt' Value='CG-3 IDE Installation [1]' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='CG-3 IDE'>

          <Component Id='CG3IDE' Guid='F3ADD474-B16A-4DFC-BA7B-A643A06E414E'>
            <File Id='CG3IDE_cg3ide_exe' Name='CG-3 IDE.exe' DiskId='1' Source='../cg3ide-build-Desktop/release/cg3ide.exe' KeyPath='yes' />
            <File Id='CG3IDE_processor' Name='cg3processor.exe' DiskId='1' Source='../cg3ide-build-Desktop/release/cg3processor.exe' />

            <File Id='QT_Qt5Coredll' Name='Qt5Core.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/Qt5Core.dll' />
            <File Id='QT_Qt5Guidll' Name='Qt5Gui.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/Qt5Gui.dll' />
            <File Id='QT_Qt5Widgetsdll' Name='Qt5Widgets.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/Qt5Widgets.dll' />
            <File Id='QT_icudt49dll' Name='icudt52.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/icudt52.dll' />
            <File Id='QT_icuuc49dll' Name='icuuc52.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/icuuc52.dll' />
            <File Id='QT_icuin49dll' Name='icuin52.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/icuin52.dll' />
            <File Id='QT_D3DCompiler_43dll' Name='D3DCompiler_43.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/D3DCompiler_43.dll' />
            <File Id='QT_libEGLdll' Name='libEGL.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/libEGL.dll' />
            <File Id='QT_libGLESv2dll' Name='libGLESv2.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/bin/libGLESv2.dll' />

            <File Id='CG3_vislcg3exe' Name='vislcg3.exe' DiskId='1' Source='/Cygwin/home/Tino/vislcg3/build/VS10/src/Release/vislcg3.exe' />
            <File Id='CG3_cgcompexe' Name='cg-comp.exe' DiskId='1' Source='/Cygwin/home/Tino/vislcg3/build/VS10/src/Release/cg-comp.exe' />
            <File Id='CG3_cgconvexe' Name='cg-conv.exe' DiskId='1' Source='/Cygwin/home/Tino/vislcg3/build/VS10/src/Release/cg-conv.exe' />
            <File Id='CG3_cgprocexe' Name='cg-proc.exe' DiskId='1' Source='/Cygwin/home/Tino/vislcg3/build/VS10/src/Release/cg-proc.exe' />
            <File Id='ICU_icuio49dll' Name='icuio52.dll' DiskId='1' Source='/Applications/ICU/52.1/bin/icuio52.dll' />
          </Component>

          <Directory Id='QTPLATFORMSDIR' Name='platforms'>
            <Component Id='Qt_Platforms' Guid='0AB7C8B7-B855-4D07-ADFB-C96F93511652'>
              <File Id='QTP_qminimaldll' Name='qminimal.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/plugins/platforms/qminimal.dll' KeyPath='yes' />
              <File Id='QTP_qwindowsdll' Name='qwindows.dll' DiskId='1' Source='/Applications/Qt/5.3/msvc2010_opengl/plugins/platforms/qwindows.dll' />
              </Component>
          </Directory>

        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder'>
        <Component Id='Shortcut_StartMenu' Guid='35C73F2F-D717-4CE8-93AC-29E138BC761D'>
          <Shortcut Id='StartMenuShortcut' Name='CG-3 IDE' Description='CG-3 Integrated Development Environment' Target='[INSTALLDIR]/CG-3 IDE.exe' WorkingDirectory='INSTALLDIR'/>
          <RegistryValue Root='HKCU' Key='Software\Tino Didriksen Consult' Name='shortcut_start' Type='integer' Value='1' KeyPath='yes'/>
        </Component>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='CG3IDE' />
      <ComponentRef Id='Qt_Platforms' />
      <ComponentRef Id='Shortcut_StartMenu' />
    </Feature>

  </Product>
</Wix>
